In [1]:
import pandas as pd

In [8]:
from ds_essentials import smart_info

In [2]:
df = pd.read_csv('./netflix_titles.csv')

In [3]:
df_1 = df.iloc[:2138]
df_2 = df.iloc[2138:]

In [10]:
smart_info({'df_1': df_1, 'df_2': df_2}, sort_method=1)

                      df_1          df_2
             missing_ratio missing_ratio
director         30.074836     30.908125
cast              9.448082      9.134360
country           6.969130      6.337405
date_added        0.093545      0.141618
rating            0.046773      0.106213
show_id           0.000000      0.000000
type              0.000000      0.000000
title             0.000000      0.000000
release_year      0.000000      0.000000
duration          0.000000      0.000000
listed_in         0.000000      0.000000
description       0.000000      0.000000

In [11]:
smart_info(df)

Ã‰ unico

Empty DataFrame
Columns: []
Index: []